@model IEnumerable<BookModel>
@{
    ViewData["Title"] = "GetAllBooks";
}

<h1>GetAllBooks</h1>
<div class="row">
@foreach (var book in Model)
{
    <div class="col-md-4" style="display:flex">
        <div class="card mb-4 shadow-sm">
            <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@book.Title</h5>
                    <p class="card-text">@book.Description</p>
                    <p class="card-text"><small class="text-body-secondary">@book.Author</small></p>
                </div>
        </div>
    </div>
}
</div>

@section script{
    <script>
        $(document).ready(function(){
            alert("Hello from Venkit !!!")
        });
    </script>
}


